spring:
  datasource:
    url: jdbc:h2:mem:testdb

  h2:
    console:
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: validate

    show-sql: true

#logging:
#  level:
#    ROOT: ERROR
